<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>

<!-- uppercase pipe in interpolation to change text format -->
<h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{ hero.id }}</div>
<div><span>name: </span>{{ hero.name }}</div>

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
  <!-- ngModel is angular's two-way binding syntax +
    name data is coming to the screen from the component and also leaving the screen as user input to the component +
    it also binds the hero.name property to the HTML so hero.name text box and text box back to hero.name -->
</div>
